{% extends 'home.html' %}
{% load crispy_forms_tags %}
{% block title %}Registrar Ofertas{% endblock title %}

{% block content %} 
<div class='container'> 
  <div class='col-md'>
    <div class='card card-body my-5 w-50 mx-auto'>  
      <h4 class='font-weight-bold text-center font-italic'>Registrar Oferta</h4> 
      <form method='POST' action=''>
          {% csrf_token %}  
          {{form|crispy}} 
          <div class='text-center'>
            <button class='btn btn-primary' type='submit'>Criar Oferta</button>
          </div>
      </form> 
    </div>
  </div>
</div>
{% endblock %}