{% extends 'home.html' %}
{% load crispy_forms_tags %}
{% block title %}Registrar Investimento{% endblock title %}

{% block content %}
<div class='container'> 
  <div class='col-md'>
    <div class='card card-body my-5 w-50 mx-auto'>  
    <h3 class='font-weight-bold text-center font-italic'>Registrar Investimento</h3>
    <form method='POST' action=''>
      {% csrf_token %} 
      {{form|crispy}} 
        <div class='text-center'>
          <button class='btn btn-primary' type='submit'>Solicitar Investimento</button>
        </div>
      </form> 
    </div>
  </div>
</div>

{% endblock %}