
{% load crispy_forms_tags %}

{% block content %} 

<div class='col-sm-6 col-md-6 col-lg-6 col-xl-6 mx-auto'>
  {% if request.user.is_authenticated %} 
    <form class='my-1' method='POST' action=''>
      {% csrf_token %} 
      <div class="form-group shadow">
        <textarea class="form-control" rows="3"></textarea>
      </div> 
      <div class='form-group text-right'>
        <button type="submit" class="btn btn-secondary">Comentar</button>
      </div>
    </form> 
  {% endif %}
</div>

{% endblock %}